#nav-bar {
  background-color: var(--lwt-accent-color) !important;
  margin-top: var(--zen-element-separation);
  border-radius: var(--zen-border-radius) var(--zen-border-radius) 0 0;
  border-bottom: 1px solid var(--toolbar-field-border-color) !important;
  padding: 0 5px !important;
}

/* #nav-bar:has(:placeholder-shown:not(:autofill)) {
  background-color: inherit !important;
  border: none !important;
} */

#nav-bar:has(#reload-button[disabled="true"]) {
  background-color: inherit !important;
  border: none !important;
}

:root[zen-compact-mode="true"] #nav-bar,
#urlbar-background,
#zen-sidebar-web-panel {
  margin-left: var(--zen-element-separation) !important;
}

/* panel {
    --panel-background: var(--lwt-accent-color) !important;
} */

#browser {
  background-image: none !important;
  background-color: var(--lwt-accent-color) !important;
  opacity: 1 !important;
}

:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not(
    [chromehidden~="toolbar"]
  ) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    border-radius: 0 0 var(--zen-native-inner-radius)
      var(--zen-native-inner-radius) !important;
    box-shadow: 0 0 0 0 !important;
  }
}

#zen-sidebar-web-panel {
  border: none !important;
  box-shadow: 0 0 1px 1px light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
}

#zen-sidebar-web-header,
#zen-sidebar-panels-wrapper {
  border-bottom: 0 !important;
  border-top: 0 !important;
}

@media (-moz-bool-pref: "zen.view.compact") {
  :root:not([customizing]):not([inDOMFullscreen="true"]) {
    @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
      & #titlebar {
        background: var(--lwt-accent-color) !important;
      }
    }
  }
}

/* #titlebar {
  background: var(--lwt-accent-color) !important;
} */

#titlebar {
  color: black !important;
  --tab-selected-textcolor: black;
}
